<form  [formGroup]="productsUpdateForm" (ngSubmit)="update()">
    
    <div *ngFor="let element of elements">
        <div *ngIf="element.id==idN">
            
            description: <input type="text" placeholder="{{element.description}}" formControlName="description" id="name">
            <!-- da vedere bene con le referenze in db -->
            measure unit: <input type="text" placeholder="{{element.measureUnit}}" formControlName="measureUnit" id="name">
            name: <input type="text" placeholder="{{element.name}}" formControlName="name" id="name">
            price: <input type="text" placeholder="{{element.price}}" formControlName="price" id="name">
            sconto:<input type="text" placeholder="{{element.scontoProd}}" formControlName="sconto" id="name">
            
        </div> 
    </div>
    <button type="submit">update</button>
</form>
