.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows:  auto auto 1fr;
    padding: 1% 1% 0 1%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1%;
    row-gap: 2%;
}

.header-page{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    width: auto;
    padding: 1.5%;
    background-color: rgb(88, 119, 255);
    border: 2px black solid;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    color: white;
}

.header-page span{
    font-size: 3vw;
    height: 100%;
    display: table;
    vertical-align: middle;
}

#home-link{
    text-align: right;
}

.container-update-product{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 80%;
    height: max-content;
    color: white;
    border: 2px black solid;
    background-color: rgba(#012051,0.9);
    text-align: left;
    box-shadow: 10px 10px 5px rgba( #A9AABC, 1);
    margin-left: auto;
    margin-right: auto;
}

.header{
    margin: 0;
    width: auto;
    padding: 2%;
    background-color: rgb(88, 119, 255);
    border-bottom: 2px black solid;
    font-size: 2vw;
    font-weight: bold;
}

.update-product-table{  
    margin: 5%;
    width: 100%;
    border-collapse: collapse;
}

td{
    width: 50%;
    padding-top: 2%;
}

#td-left{
    font-size: 2vw;
    text-align: right;
}

#center-btn{
    text-align: center;
    margin-top: 2%;
}

td:nth-child(even){
    border-left: 1px white solid;
}

// .btn{
//     width: 40%;
//     border: 1px black solid;
//     text-align: center;
//     transition: width 1s;
//     padding: 1%;
//     border-radius: 5px;
//     font-size: 2vw;
// }

// .btn:hover{
//     background-color: rgb(88, 119, 255);
//     cursor: pointer;
//     transition:1s 0s;
//     color: white;
// }

// .btn:active{
//     background-color: rgba( #A9AABC, 1);
//     color: black;
//     animation-duration: 2s;
// }

// .btn:focus{
//     outline: none;
//     box-shadow: none;
// }

.update-product-table input{
    padding:2%;
    width: 95%;
    font-size: 2vw;
    border: 0;

    color: white;   
    background-color: transparent;
    outline: 0;

    &::placeholder{
        color: rgba(white,0.2);
    }
}

label{
    padding:2%;
}

.link{
    text-decoration: none;
    color: white;
    & :focus{
        outline: none;
    }
}

.btn{
    font-size: 2vw;
    width: 20%;
    padding: 1% 2% 1% 2%;
    transition: all 1.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgb(88, 119, 255);
        transition: all 1.5s;
        z-index: -1;
    }

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(white,0.2);
        z-index: -2; 
    }

    &:hover {
        color: #fff;
        cursor: pointer;
        &:before {
          width: 100%;
        }
    }
}