<form [formGroup]="productsUpdateForm" (ngSubmit)="update()">

    <div class="container">
        <div class="header-page">
            <span>Product update page</span>
            <span id="home-link"><a href="/home" class="link">home</a></span>
        </div>

        <div class="container-update-product">
            <div *ngFor="let element of elements">
                <div *ngIf="element.id==idN">
                    <div class="header">Informations</div>
                    <table class="update-product-table">
                        <tr>
                            <td id="td-left"><label>code</label></td>
                            <td><input type="text" placeholder="{{element.name}}" formControlName="name" id="name" readonly autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td id="td-left"><label>name</label></td>
                            <td><input type="text" placeholder="{{element.name}}" formControlName="name" id="name" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td id="td-left"><label>description</label></td>
                            <td><input type="text" placeholder="{{element.description}}" formControlName="description" id="name" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td id="td-left"><label>measure unit</label></td>
                            <td><input type="text" placeholder="{{element.measureUnit}}" formControlName="measureUnit" id="name" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td id="td-left"><label>price</label></td>
                            <td><input type="text" placeholder="{{element.price}}" formControlName="price" id="name" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td id="td-left"><label>sale</label></td>
                            <td><input type="text" placeholder="{{element.scontoProd}}" formControlName="sconto" id="name" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <!-- PROVA -->
                            <td colspan="2" id="center-btn"><button type="submit" class="btn">update</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>