<div class="box">

    <div class="grid-btn">
        <button class="btn btn-sm" id="btn-insert" (click)="open(insert)">
            <i class="bi bi-plus"></i>
        </button>
    </div>

    <div class="search">
        <form [formGroup]="cercaForm" (ngSubmit)="searchTerm()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="termine" placeholder="parola da cercare" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn" id="btn-edit" [disabled]="cercaForm.invalid"><i
                            class="bi bi-search" id="searchIcon"></i></button>
                    <button type="reset" class="btn btn-outline-danger" [disabled]="cercaForm.invalid" (click)="resetSearchBar()"><i class="bi bi-x-square-fill" id="searchIcon"></i></button>
                </div>
            </div>
        </form>
    </div>


    <div class="grid-table">
        <table class="table table-hover">
            <caption>Tabella iva</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Iva</th>
                    <th scope="col">Info</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngFor="let iva of ivaList | async | slice: (page-1) * pageSize : page * pageSize;">

                <div *ngIf="term==='null'; then elseBlock"></div>
                <ng-template #elseBlock>
                    <tr>
                        <th scope="row">{{ iva.id }}</th>
                        <td>{{ iva.percentualeIva }}</td>
                        <td>{{ iva.info}} </td>
                        <td>
                            <button class="btn btn-sm" id="btn-edit" (click)="open(update, iva.id)">
                                <i class="bi bi-wrench"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" id="btn" (click)="open(delete, iva.id)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>

                <!-- ricerca su id non posso, è un int -->
                <!-- problema : con slice paginazione non riempie le prime pagine. i record rimangono al loro posto. MA FIXATO settando dimensione tabella 1000 iva ad ogni ricerca -->
                <div *ngIf="(iva.percentualeIva.toLowerCase().includes(term)||iva.info.toLowerCase().includes(term)); then thenBlock"></div>
                <ng-template #thenBlock>
                    <tr>
                        <th scope="row">{{ iva.id }}</th>
                        <td>{{ iva.percentualeIva }}</td>
                        <td>{{ iva.info}} </td>
                        <td>
                            <button class="btn btn-sm" id="btn-edit" (click)="open(update, iva.id)">
                                <i class="bi bi-wrench"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" id="btn" (click)="open(delete, iva.id)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>

            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" class="pagination">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 iva per pagina</option>
                <option [ngValue]="4">4 iva per pagina</option>
                <option [ngValue]="6">6 iva per pagina</option>
                <option [ngValue]="10">10 iva per pagina</option>
                <option [ngValue]="1000">1000 iva per pagina</option>
            </select>
        </div>

    </div>
</div>

<ng-template #insert let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">CREAZIONE IVA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="createIva" (ngSubmit)="create()">
        <div class="modal-body">

            <div class="form-group md-3">
                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input percentualeIva="text " class="form-control " formControlName="percentualeIva"
                                placeholder="insert new measure "  autocomplete="off"
                                aria-describedby="basic-addon1 ">
                            <label for="description">Percentuale iva</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input percentualeIva="text " class="form-control " formControlName="info"
                                placeholder="insert new measure "  autocomplete="off"
                                aria-describedby="basic-addon1 ">
                            <label for="description">Info iva</label>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit " class="btn " id="btn-modal-edit" (click)="modal.close( 'Save click') " ngbTooltip="Insert" [disabled]="createIva.invalid">
                <i class="bi bi-save "></i>
            </button>
            <button type="button " class="btn btn-outline-danger" (click)="modal.dismiss( 'Cross click') " ngbTooltip="Exit">
                <i class="bi bi-arrow-bar-right "></i>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">AGGIORNAMENTO IVA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="updateIva" (ngSubmit)="updateIvaById()">
        <div class="modal-body">

            <div class="form-group md-3">

                <div *ngFor="let iva of ivaList | async">
                    <div *ngIf="iva.id == idIvaNumber">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">%</span>
                                    </div>
                                    <input type="text " class="form-control " formControlName="percentualeIvaNuovo" placeholder="{{iva.percentualeIva}}" autocomplete="off" aria-describedby="basic-addon1 ">

                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">info</span>
                                    </div>
                                    <input type="text " class="form-control " formControlName="infoNuovo" placeholder="{{iva.info}}" autocomplete="off" aria-describedby="basic-addon1 ">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit " class="btn " id="btn-modal-edit" (click)="modal.close( 'Save click') " ngbTooltip="Insert">
                <i class="bi bi-save "></i>
            </button>
            <button type="button " class="btn btn-outline-danger" (click)="modal.dismiss( 'Cross click') " ngbTooltip="Exit">
                <i class="bi bi-arrow-bar-right "></i>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">ELIMINAZIONE IVA</h4>
        <button percentualeIva="button" class="close" id="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="deleteIva" (ngSubmit)="deleteIvaById()">

            <div class="modal-footer">
                <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save">
                    <i class="bi bi-save"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
            </div>
        </form>
    </div>
</ng-template>