<div class="box">

    <div class="grid-btn">
        <button class="btn btn-sm" id="btn-insert" (click)="open(insert)">
            <i class="bi bi-plus"></i>
        </button>
    </div>

    <div class="search">
        <form [formGroup]="cercaForm" (ngSubmit)="searchTerm()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="termine" placeholder="parola da cercare" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn" id="btn-edit" [disabled]="cercaForm.invalid"><i class="bi bi-search"
                            id="searchIcon"></i></button>
                    <button type="reset" class="btn btn-outline-danger" [disabled]="cercaForm.invalid" (click)="resetSearchBar()"><i class="bi bi-x-square-fill"
                            id="searchIcon"></i></button>
                </div>
            </div>

        </form>
    </div>


    <div class="grid-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Misura</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngFor="let element of measures | async | slice: (page-1) * pageSize : page * pageSize;">

                <div *ngIf="term==='null'; then elseBlock"></div>
                <ng-template #elseBlock>
                    <tr>
                        <th scope="row">{{ element.id }}</th>
                        <td>{{ element.type }}</td>
                        <td>
                            <button class="btn btn-sm" id="btn-edit" (click)="open(update, element.id, element.type)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" id="btn" (click)="open(delete, element.id, element.type)">
                                <i class="bi bi-trash-fill"></i>
                            </button>

                        </td>
                    </tr>
                </ng-template>

                <!-- ricerca su id non posso, è un int -->
                <!-- problema : con slice paginazione non riempie le prime pagine. i record rimangono al loro posto. MA FIXATO settando dimensione tabella 1000 elementi ad ogni ricerca -->
                <div *ngIf="(element.type.toLowerCase().includes(term.toLowerCase())); then thenBlock"></div>
                <ng-template #thenBlock>
                    <tr>
                        <th scope="row">{{ element.id }}</th>
                        <td>{{ element.type }}</td>
                        <td>
                            <button class="btn btn-sm" id="btn-edit" (click)="open(update, element.id, element.name)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" id="btn" (click)="open(delete, element.id, element.name)">
                                <i class="bi bi-trash-fill"></i>
                            </button>

                        </td>
                    </tr>
                </ng-template>

            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" class="pagination">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 elementi per pagina</option>
                <option [ngValue]="4">4 elementi per pagina</option>
                <option [ngValue]="6">6 elementi per pagina</option>
                <option [ngValue]="10">10 elementi per pagina</option>
                <option [ngValue]="1000">1000 elementi per pagina</option>
            </select>
        </div>

    </div>
</div>

<ng-template #insert let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Creazione Misura</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="createMeasureUnitForm" (ngSubmit)="create()">
        <div class="modal-body">
            <span class="form-group has-float-label">
            <input type="text " class="form-control " formControlName="tipo" placeholder="insert new measure " id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
            <label for="description">Tipo misura</label>
        </span>

        </div>
        <div class="modal-footer">
            <button type="submit " class="btn " id="btn-modal-edit" (click)="modal.close( 'Save click') " ngbTooltip="Insert" [disabled]="createMeasureUnitForm.invalid">
                <i class="bi bi-save "></i>
            </button>
            <button type="button " class="btn btn-outline-danger" (click)="modal.dismiss( 'Cross click') " ngbTooltip="Exit">
                <i class="bi bi-arrow-bar-right "></i>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Aggiornamento misura</h4>
        <button type="button" class="close" id="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateMeasureUnitForm" (ngSubmit)="updateM()">
            <div *ngFor="let measure of measures | async">
                <div *ngIf="measure.id == idMnumber">

                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3">
                                <span class="form-group has-float-label">
                                    <select class="form-control" aria-label="Default select example" formControlName="vecchio">
                                        <option *ngIf="measure.id == idMnumber" value="{{ measure.id }}" selected>
                                                    {{ measure.type }}  
                                        </option>
                                    </select>                                    
                                    <label for="description">Vecchia misura</label>
                                </span>
                            </div>

                        </div>

                        <div class="col">
                            <div class="form-group mb-3">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" formControlName="nuovo" placeholder="tipo unità di misura">
                                    <label for="description">Nuova misura</label>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save" [disabled]="updateMeasureUnitForm.invalid">
                            <i class="bi bi-save"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                            <i class="bi bi-arrow-bar-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminazione misura</h4>
        <button type="button" class="close" id="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="deleteMeasureUnitForm" (ngSubmit)="deleteM()">
            <div *ngFor="let measure of measures | async">
                <div *ngIf="measure.id == idMnumber">

                    <span class="form-group has-float-label">
                            <select class="form-control" aria-label="Default select example" formControlName="id">
                                <option *ngIf="measure.id == idMnumber" value="{{ measure.id }}" selected>
                                            {{ measure.type }}  
                                </option>
                            </select>
                            <label for="description">Misura da eliminare</label>
                        </span>

                    <div class="modal-footer">
                        <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save" [disabled]="deleteMeasureUnitForm.invalid">
                            <i class="bi bi-save"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                            <i class="bi bi-arrow-bar-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>