

 <form ><!-- inserire attributi form -->
    <div class="container">
        <div class="header-page">
            <span>Invoices page</span>
            <span id="home-link"><a href="/home" class="link">home</a></span>
        </div>
        <!-- <div class="container-invoice-form">
            <div class="header">Create invoice</div>
            <table class="invoice-form-table">
                <tr>
                    <td><input type="text" formControlName="name"
                            placeholder="name" id="name" autocomplete="off"></td>
                </tr>
                <tr>
                    <td><input type="text" formControlName="surname"
                            placeholder="surname" id="surname"
                            autocomplete="off"></td>
                </tr>
                <tr>
                    <td><input type="text" formControlName="email"
                            placeholder="email" id="email" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn" id="btn-invoice">
                            create invoice</button>
                    </td>
                </tr>
            </table>
        </div> -->

        <div class="container-invoices">
            <!--PRODOTTI-->
            <!-- <div class="header">{{element.name}}</div> -->
            <table class="invoices-table">
                <thead>
                    <th>id</th>
                    <th>code</th>
                    <th>f. price</th>
                    <th>cust. id</th>
                    <th>products</th>
                    <th>date</th>
                    <th>sale</th>
                    <th>iva</th>
                    <th>taxable</th>
                    <th>tot. goods</th>
                    <th>pay condition</th>
                    <th>doc. type</th>
                    <th>tot. services</th>
                    <th>&nbsp;</th>
                </thead>
                <tr *ngFor="let inv of invoices | async; let i= index"
                    id="highlight-row-invoice">
                    <td>{{inv.id}}</td>
                    <td> {{inv.codeInvoice}}</td>
                    <td>{{inv.totalPrice}}$</td>
                    <td>{{inv.idCustomer}}</td>
                    <!-- quando hover mostro div con dati prodotti-->
                    <td>{{inv.fields}}</td>
                    <td>{{inv.dateTime}}</td>
                    <td>{{inv.sconto}}%</td>
                    <td>{{inv.iva}}%</td>
                    <td>{{inv.ivaPrice}}$</td>
                    <td>{{inv.totalToPay}}$</td>
                    <td>{{inv.condizionePagamento}} </td>
                    <td>{{inv.tipoDocumento}} </td>
                    <td>{{inv.totaleServizi}}$</td>
                    <td style="display: none;">{{inv.id}}</td>
                    <!-- <td id="td-btn"><a (click)="update(inv.id);" class="link"
                            id="edit"><span class="material-icons">
                                create
                            </span></a></td> -->
                    <td id="td-btn"><a (click)="delete(inv.id);"
                            class="link" id="delete"><span
                                class="material-icons">
                                delete
                            </span></a></td>
                </tr>
            </table>
        </div>
    </div>
</form>