termine trovato: {{term.toLowerCase()}}


    <!-- ANCHOR first table -->
    <div class="grid-table">
        <table class="table">
            <caption>List of Invoices</caption>
            <thead>
                <th scope="col">cust_id</th>
                <th scope="col">code</th>
                <!-- numero fattura -->
                <th scope="col">data</th>
                <th scope="col">pay_condition</th>
                <th scope="col">doc_type</th>
                <th scope="col">sale</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </thead>

    <tbody *ngFor="let inv of invoices | async; let i= index" id="highlight-row-invoice">
        
            <tr *ngIf="inv.idCustomer.toLowerCase().includes(term.toLowerCase())||inv.codeInvoice.toLowerCase().includes(term.toLowerCase())||inv.condizionePagamento.toLowerCase().includes(term.toLowerCase())||inv.dateTime.toLowerCase().includes(term.toLowerCase())||inv.fields.toLowerCase().includes(term.toLowerCase())||inv.imponibile.toLowerCase().includes(term.toLowerCase())||inv.importoSconto.toLowerCase().includes(term.toLowerCase())||inv.iva.toLowerCase().includes(term.toLowerCase())||inv.ivaPrice.toLowerCase().includes(term.toLowerCase())||inv.quantita.toLowerCase().includes(term.toLowerCase())||inv.sconto.toLowerCase().includes(term.toLowerCase())||inv.tipoDocumento.toLowerCase().includes(term.toLowerCase())||inv.totaleMerci.toLowerCase().includes(term.toLowerCase())||inv.totaleServizi.toLowerCase().includes(term.toLowerCase())">
                <th scope="row">{{inv.idCustomer}}</th>
                <td> {{inv.codeInvoice}}</td>
                <td>{{inv.dateTime}}</td>
                <td>{{inv.condizionePagamento}}</td>
                <td>{{inv.tipoDocumento}} </td>
                <td>{{inv.sconto}}%</td>
               
               
            </tr>

    </tbody>


            
        </table>
    </div>

