.box {
    width: 100%;
    padding: 4% 1% 1% 1%;
    margin: 0;
    display: grid;
    grid-template-columns: 5% auto;
    column-gap: 1%;
}

label {
    color: #012051;
    opacity: 1;
}

.grid-btn {
    width: auto;
}

.grid-table {
    width: auto;
}

#btn {
    width: 100%;
}

i {
    font-size: larger;
}

.btn {
    line-height: 0%;
    font-size: 1.2vw;
}

b {
    font-size: 1.5vw;
}

.card {
    border: 0;
}

#btn-insert {
    width: 100%;
    background-color: #012051;
    color: #012051;
    height: 100%;
    transition-duration: 0.3s;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: 0 0;
    box-shadow: 0px 0px 0 100px white inset;
    font-weight: bold;
    font-size: larger;
    border-radius: 0;
}

#btn-insert:hover {
    color: white;
    box-shadow: 0px 0px 0 0px white inset;
    -webkit-box-shadow: 0px 0px 0 0px white inset;
    -webkit-transform: scale(1);
}

#btn-edit {
    width: 100%;
    border: 1px #012051 solid;
    color: #012051;
    &:hover {
        color: white;
        background-color: #012051;
    }
}

#btn-modal-edit {
    border: 1px #012051 solid;
    color: #012051;
    &:hover {
        color: white;
        background-color: #012051;
    }
}

#btn-toggle {
    padding: 1%;
    border: none;
    background: transparent;
    font-weight: bold;
}

.table {
    font-size: 1.2vw;
    border: 1px rgb(217, 222, 226) solid;
}

.close {
    color: white;
}

.modal-body {
    border-radius: 0;
}

.modal-header {
    border-radius: 0;
    background-color: #012051;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

p {
    padding: 3%;
}

thead {
    background-color: #012051;
    border: 1px #012051 solid;
    color: white;
}