<!-- <div class="header-page">
        <span>Customers page</span>
        <span id="home-link"><a href="/home" class="link">home</a></span>
    </div> -->
<div class="box">

    <div class="grid-btn">
        <button class="btn btn-sm" id="btn-insert" (click)="open(content)">
            <i class="bi bi-plus"></i>
        </button>
    </div>

    <div class="search">
        <form [formGroup]="cercaForm" (ngSubmit)="searchTerm()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="termine" placeholder="parola da cercare" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn" id="btn-edit" [disabled]="cercaForm.invalid"><i class="bi bi-search"
                            id="searchIcon"></i></button>
                    <button type="reset" class="btn btn-outline-danger" [disabled]="cercaForm.invalid" (click)="resetSearchBar()"><i class="bi bi-x-square-fill"
                            id="searchIcon"></i></button>
                </div>
            </div>

        </form>
    </div>

    <div class="grid-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="9" class="text-center">clienti</th>
                </tr>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">PARTITA IVA</th>
                    <th scope="col">RAGIONE SOCIALE</th>
                    <th scope="col">SEDE</th>
                    <th scope="col">RESIDENZA</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngFor="let element of elements | async | slice: (page-1) * pageSize : page * pageSize;">

                <div *ngIf="term==='null'; then elseBlock"></div>
                <ng-template #elseBlock>
                    <tr>
                        <th scope="row">{{ element.id }}</th>
                        <td>{{ element.name }}</td>
                        <td>{{ element.email }}</td>
                        <td>{{ element.partitaIva }}</td>
                        <td>{{ element.ragioneSociale }}</td>
                        <td>{{ element.sede }}</td>
                        <td>{{ element.residenza }}</td>
                        <td>
                            <button class="btn btn-sm" id="btn-edit" (click)="open(update, element.id, element.name)">
                                <i class="bi bi-wrench"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" id="btn" (click)="open(delete, element.id, element.name)">
                                <i class="bi bi-trash-fill"></i>
                            </button>

                        </td>
                    </tr>
                </ng-template>

                <!-- ricerca su id non posso, è un int -->
                <!-- problema : con slice paginazione non riempie le prime pagine. i record rimangono al loro posto. MA FIXATO settando dimensione tabella 1000 elementi ad ogni ricerca -->
                <div *ngIf="(element.id.toString().toLowerCase().includes(term.toLowerCase())||element.name.toLowerCase().includes(term.toLowerCase())||element.email.toLowerCase().includes(term.toLowerCase())||element.partitaIva.toLowerCase().includes(term.toLowerCase())||element.ragioneSociale.toLowerCase().includes(term.toLowerCase())||element.sede.toLowerCase().includes(term.toLowerCase())||element.residenza.toLowerCase().includes(term.toLowerCase())); then thenBlock else msgBlock"></div>
                <ng-template #thenBlock>
                    <tr>
                        <th scope="row">{{ element.id }}</th>
                        <td>{{ element.name }}</td>
                        <td>{{ element.email }}</td>
                        <td>{{ element.partitaIva }}</td>
                        <td>{{ element.ragioneSociale }}</td>
                        <td>{{ element.sede }}</td>
                        <td>{{ element.residenza }}</td>
                        <td>
                            <button class="btn btn-sm" id="btn-edit" (click)="open(update, element.id, element.name)">
                                <i class="bi bi-wrench"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" id="btn" (click)="open(delete, element.id, element.name)">
                                <i class="bi bi-trash-fill"></i>
                            </button>

                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" class="pagination">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 elementi per pagina</option>
                <option [ngValue]="4">4 elementi per pagina</option>
                <option [ngValue]="6">6 elementi per pagina</option>
                <option [ngValue]="10">10 elementi per pagina</option>
                <option [ngValue]="1000">1000 elementi per pagina</option>
            </select>
        </div>


    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customer creation</h4>
        <button type="button" class="close" id="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="customerForm" (ngSubmit)="insert()">
            <div class="row">
                <div class="col">
                    <span class="form-group has-float-label">
                        <input type="text " class="form-control " formControlName="name" placeholder="inserisci nome " id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Nome</label>
                    </span>
                </div>
                <div class="col">
                    <span class="form-group has-float-label">
                        <input type="text " class="form-control " formControlName="partitaIva" placeholder="inserisci codice partita iva " id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Partita Iva</label>
                    </span>
                </div>
            </div>

            <span class="form-group has-float-label">
                <input type="text " class="form-control " formControlName="email" placeholder="inserisci email" id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                <label for="description">Email</label>
            </span>


            <span class="form-group has-float-label">
                <input type="text " class="form-control " formControlName="ragioneSociale" placeholder="inserisci ragione sociale" id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                <label for="description">Ragione sociale</label>
            </span>

            <div class="row">
                <div class="col">
                    <span class="form-group has-float-label">
                        <input type="text " class="form-control " formControlName="residenza" placeholder="inserisci residenza " id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Residenza</label>
                    </span>
                </div>
                <div class="col">
                    <span class="form-group has-float-label">
                        <input type="text " class="form-control " formControlName="sede" placeholder="inserisci sede " id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Sede</label>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save">
                    <i class="bi bi-save"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Customer update : {{ nameD }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="customerFormUpdate" (ngSubmit)="updateCust()">
            <div *ngFor="let element of elements | async">
                <div *ngIf="element.id == idN">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">nome</span>
                                </div>
                                <input type="text" class="form-control" formControlName="name" placeholder="{{ element.name }}" id="name" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">p. iva</span>
                                </div>
                                <input type="text" class="form-control" formControlName="partitaIva" placeholder="{{ element.partitaIva }}" id="partitaIva" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" formControlName="email" placeholder="{{ element.email }}" id="email" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">ragione sociale</span>
                        </div>
                        <input type="text" class="form-control" formControlName="ragioneSociale" placeholder="{{ element.ragioneSociale }}" id="ragioneSociale" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">residenza</span>
                                </div>
                                <input type="text" class="form-control" formControlName="residenza" placeholder="{{ element.residenza }}" id="residenza" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">sede</span>
                                </div>
                                <input type="text" class="form-control" formControlName="sede" placeholder="{{ element.sede }}" id="sede" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save">
                            <i class="bi bi-save"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                            <i class="bi bi-arrow-bar-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Deleting customer
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="customerForm" (ngSubmit)="deleteCust()">
            <p>are you sure to delete customer : <b>{{ nameD }}</b> ?</p>
            <ngb-accordion #acc="ngbAccordion" acitvateIds="custom-panel-1">
                <ngb-panel id="custom-panel-1">
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between">
                            <b>Customer detail</b>
                            <button ngbPanelToggle id="btn-toggle">
                                {{ opened ? "close" : "open" }}
                            </button>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card">
                            <div *ngFor="let element of elements | async">
                                <div *ngIf="element.id == idN">
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">name</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="{{ element.name }}" id="name" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">p. iva</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="{{ element.partitaIva }}" id="partitaIva" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">@</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="{{ element.email }}" id="email" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">ragione sociale</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="{{ element.ragioneSociale }}" id="ragioneSociale" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">residenza</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="{{ element.residenza }}" id="residenza" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">sede</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="{{ element.sede }}" id="sede" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-danger" (click)="modal.close('Save click')" ngbTooltip="Delete">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" class="btn" id="btn-modal-edit" (click)="modal.dismiss('Cross click')" ngbTooltip="Undo">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
            </div>
        </form>
    </div>
</ng-template>
<!-- PER CREAZIONE A COMPARSA -->