.box {
    width: 100%;
    padding: 1%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1%;
}

.search {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
}

.grid-btn {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-table {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#btn {
    width: 100%;
}

.btn {
    outline: none;
    line-height: 0%;
    font-size: 1.2vw;
}

b {
    font-size: 1.5vw;
}

.card {
    border: 0;
}

#btn-insert {
    width: 100%;
    background-color: #012051;
    color: #012051;
    transition-duration: 0.3s;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: 0 0;
    box-shadow: 0px 0px 0 100px white inset;
    font-weight: bold;
    font-size: larger;
    border-radius: 0;
}

#btn-insert:hover {
    color: white;
    box-shadow: 0px 0px 0 0px white inset;
    -webkit-box-shadow: 0px 0px 0 0px white inset;
    -webkit-transform: scale(1);
}

#btn-edit {
    width: 100%;
    border: 1px #012051 solid;
    color: #012051;
    &:hover {
        color: white;
        background-color: #012051;
    }
}

#btn-modal-edit {
    border: 1px #012051 solid;
    color: #012051;
    &:hover {
        color: white;
        background-color: #012051;
    }
}

#btn-toggle {
    padding: 1%;
    border: none;
    background: transparent;
    font-weight: bold;
}

.table {
    font-size: 1.2vw;
    border: 1px rgb(217, 222, 226) solid;
}

tr,
td {
    text-align: left;
}

.close {
    color: white;
}

thead {
    background-color: #012051;
    border: 1px #012051 solid;
    color: white;
}

#th-btn {
    width: 5vw;
}

ngb-pagination ::ng-deep ul>li:not(.active)>a {
    color: #012051;
}

ngb-pagination ::ng-deep ul>li.active>a {
    background-color: #012051 !important;
    color: white;
}