.container{
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows:  1fr;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1%;
    row-gap: 2%;
    font-family: Mulish;
}

.btn{
    font-size: 1.2vw;
}

#btn{
    width: 100%;

}

#btn-insert{
    width: 20%;
    margin-bottom: 2%;
    background-color: rgba(#012051,0.9);
    color: white;
}

#btn-edit{
    width: 100%;
    background-color: rgba(#012051,0.9); 
    color: white; 
}

#btn-modal-edit{
    background-color: rgba(#012051,0.9);
    color: white; 
}

.close{
    color: white;
}

.modal-body{
    font-family: Mulish;
}

.modal-header{
    font-family: Mulish;
    background-color: rgba(#012051,0.9);
    color: white;
    border: 1px solid rgba(0,0,0,.2);
}


table{
    vertical-align: middle;
    width: 100%;
    font-size: 1.2vw;
    font-family: Mulish;
}

thead{
    background-color: rgba(#012051,0.9);
    color: white;
}

.container-customers{
    width: auto;
    color: black;
}
