    <!-- <div class="header-page">
        <span>Customers page</span>
        <span id="home-link"><a href="/home" class="link">home</a></span>
    </div> -->
<div class="container">
    <div class="container-customers">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Partita Iva</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ragione Sociale</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Residenza</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of elements | async;">
                    <th scope="row">{{ element.id }}</th>
                    <td>{{ element.name}}</td>
                    <td>{{ element.partitaIva}}</td>
                    <td>{{ element.email}}</td>
                    <td>{{ element.ragioneSociale}}</td>
                    <td>{{ element.sede}}</td>
                    <td>{{ element.residenza}}</td>
                    <td><button class="btn btn-primary btn-sm" id="btn"
                            (click)="open(update,element.id,element.name)">edit</button>
                    </td>
                    <td><button class="btn btn-danger btn-sm" id="btn"
                            (click)="open(delete,element.id,element.name)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="refreshCountries()">
            </ngb-pagination>

            <button class="btn btn-primary btn-sm" id="btn-insert" (click)="open(content)">new</button>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                (ngModelChange)="refreshCountries()">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
            </select>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Customer creation</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="customerForm" (ngSubmit)="insert()">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">N</span>
                                </div>
                                <input type="text" class="form-control" formControlName="name" placeholder="name"
                                    id="name" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">P IVA</span>
                                </div>
                                <input type="text" class="form-control" formControlName="partitaIva"
                                    placeholder="partitaIva" id="partitaIva" autocomplete="off" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" formControlName="email" placeholder="email address"
                            id="email" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">RS</span>
                        </div>
                        <input type="text" class="form-control" formControlName="ragioneSociale"
                            placeholder="ragioneSociale" id="ragioneSociale" autocomplete="off" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">R</span>
                                </div>
                                <input type="text" class="form-control" formControlName="residenza"
                                    placeholder="residenza" id="residenza" autocomplete="off" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">S</span>
                                </div>
                                <input type="text" class="form-control" formControlName="sede" placeholder="sede"
                                    id="sede" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1">
                            </div>


                        </div>
                    </div>




                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">
                            Exit
                        </button><button type="submit" class="btn btn-outline-primary"
                            (click)="modal.close('Save click')">Insert</button>
                    </div>

                </form>
            </div>
        </ng-template>

        <ng-template #update let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Customer update : {{nameD}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="customerFormUpdate" (ngSubmit)="updateCust()">
                    <div *ngFor="let customer of customers">
                        <div *ngIf="customer.id==idN">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">N</span>
                                        </div>
                                        <input type="text" class="form-control" formControlName="name"
                                            placeholder="{{customer.name}}" id="name" autocomplete="off"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">P IVA</span>
                                        </div>
                                        <input type="text" class="form-control" formControlName="partitaIva"
                                            placeholder="{{customer.partitaIva}}" id="partitaIva" autocomplete="off"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input type="text" class="form-control" formControlName="email"
                                    placeholder="{{customer.email}}" id="email" autocomplete="off" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Ragione sociale</span>
                                </div>
                                <input type="text" class="form-control" formControlName="ragioneSociale"
                                    placeholder="{{customer.ragioneSociale}}" id="ragioneSociale" autocomplete="off"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">R</span>
                                        </div>
                                        <input type="text" class="form-control" formControlName="residenza"
                                            placeholder="{{customer.residenza}}" id="residenza" autocomplete="off" aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">S</span>
                                        </div>
                                        <input type="text" class="form-control" formControlName="sede" placeholder="{{customer.sede}}"
                                            id="sede" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
        
        
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="modal.dismiss('Cross click')">
                                    Exit
                                </button><button type="submit" class="btn btn-outline-primary"
                                    (click)="modal.close('Save click')">Update</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template #delete let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Deleting customer: {{nameD}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="deleteCust()">
                    <div class="row">
                        <p>are you sure to delete customer --> {{nameD}} ?</p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('Cross click')">
                            No
                        </button><button type="submit" class="btn btn-outline-danger"
                            (click)="modal.close('Save click')">Yes</button>
                    </div>

                </form>
            </div>
        </ng-template>
    </div>
</div>



<!-- PER CREAZIONE A COMPARSA -->