/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

body{
    background-position: center;
    background-repeat: repeat-y;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Karla;
}

input{
    font-family: Karla;
}