/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
    background-image: url(bg-ultimate.png);
    background-position: center;
    background-repeat: repeat-y;
    background-color: #012051;
    background-blend-mode:screen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Oxygen;
}