/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
body {
    background-position: center;
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

html {
    height: 100vh;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.modal-content {
    animation-name: example;
    animation-duration: 0.5s;
}

.modal-body {
    border-radius: 0;
    font-family: "Oxygen";
}

.modal-header {
    border-radius: 0;
    background-color: #012051;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-title {
    font-family: "Oxygen";
    letter-spacing: 0.1vw;
}

span {
    font-family: "Oxygen";
}

input,
select {
    font-family: "Oxygen";
    color: #012051;
    &::placeholder {
        color: #012051;
    }
}

label {
    font-family: "Oxygen";
    color: #012051;
}

p {
    font-size: 1vw;
}

ng-template {
    font-family: "Oxygen";
}

.box {
    font-family: "Oxygen";
}

i {
    font-size: 1.3vw;
}

#th-btn {
    width: 10vw;
}

@keyframes example {
    0% {
        transform: scale(0.5)
    }
    75% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}