<div class="box">

    <div class="grid-btn">
        <button class="btn btn-sm" id="btn-insert" (click)="open(content)">
            <i class="bi bi-plus"></i>
        </button>
    </div>

    <div class="search">
        <form [formGroup]="cercaForm" (ngSubmit)="search()">
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="termine" placeholder="word to search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <div class="grid-table">
        <table class="table">
            <caption>
                {{collectionSize}} products stored
            </caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">codice</th>
                    <th scope="col">nome</th>
                    <th scope="col">descrizione</th>
                    <th scope="col">prezzo</th>
                    <th scope="col">unita' di misura</th>
                    <th scope="col">sconto</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                    <th scope="col" id="th-btn">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of prods | async | slice: (page-1) * pageSize : page * pageSize;">
                    <td>{{ product.id }}</td>

                    <td>{{ product.codeProduct }}</td>

                    <td>{{ product.name }}</td>

                    <td>{{ product.description }}</td>

                    <td>{{ product.price }}</td>

                    <td>{{ product.measureUnit }}</td>

                    <td>{{ product.scontoProd }}</td>

                    <th>
                        <button class="btn" id="btn-edit" (click)="open(update, product.id, product.name)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </th>
                    <th>
                        <button class="btn btn-outline-danger" id="btn-delete" (click)="open(delete, product.id, product.name)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Product creation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createProductForm" (ngSubmit)="create()">

            <div class="row">
                <div class="col">
                    <span class="form-group has-float-label">
                        <input type="text " class="form-control " formControlName="price" placeholder="inserisci prezzo" id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Prezzo</label>
                    </span>
                </div>
                <div class="col">
                    <span class="form-group has-float-label">
                        <input type="text " class="form-control " formControlName="sconto" placeholder="inserisci sconto" id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Sconto</label>
                    </span>
                </div>
            </div>

            <span class="form-group has-float-label">
                <input type="text " class="form-control " formControlName="description" placeholder="inserisci descrizione" id="sede " autocomplete="off" aria-describedby="basic-addon1 ">
                <label for="description">Descrizione</label>
            </span>

            <span class="form-group has-float-label">
                <select formControlName="measureUnit" class="form-control" aria-label="Default select example">
                    <option [selected]="true">inserisci unita' di misura</option>
                    <option *ngFor="let measure of measures | async" value="{{measure.type}}">
                        {{ measure.type }}
                    </option>
                </select>                
                <label for="description">Misura</label>
            </span>

            <span class="form-group has-float-label">
                <textarea type="text " class="form-control " formControlName="name" placeholder="inserisci note (opzionale)" id="sede" autocomplete="off" aria-describedby="basic-addon1 "></textarea>
                <label for="description">Note</label>
            </span>

            <div class="modal-footer">
                <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save">
                    <i class="bi bi-save"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Product update : {{ nameD }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateProductForm" (ngSubmit)="updateProd()">
            <div *ngFor="let product of prods | async">
                <div *ngIf="product.id == idN">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">codice</span>
                                </div>
                                <input type="text" class="form-control" placeholder="{{ product.codeProduct }}" id="partitaIva" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" readonly />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">prezzo</span>
                                </div>
                                <input type="text" class="form-control" formControlName="price" placeholder="{{ product.price }}" id="residenza" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">descrizione</span>
                        </div>
                        <input type="text" class="form-control" formControlName="description" placeholder="{{ product.description }}" id="email" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">sconto</span>
                                </div>
                                <input type="text" class="form-control" formControlName="sconto" placeholder="{{ product.scontoProd }}" id="sede" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">misura</span>
                                </div>
                                <select class="form-control" aria-label="Default select example" formControlName="measureUnit">
                                    <option *ngFor="let measure of measures | async" value="{{ measure.type }}">
                                        {{ measure.type }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">note</span>
                        </div>
                        <textarea type="text" class="form-control" formControlName="name" placeholder="{{ product.name }}" id="name" autocomplete="off" aria-label="Username" aria-describedby="basic-addon1"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn" id="btn-modal-edit" (click)="modal.close('Save click')" ngbTooltip="Save">
                            <i class="bi bi-save"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                            <i class="bi bi-arrow-bar-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Deleting product: {{ nameD }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="deleteProd()">
            <div class="row">
                <p>are you sure to delete product --> {{ nameD }} ?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-danger" (click)="modal.close('Save click')" ngbTooltip="Delete">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" class="btn" id="btn-modal-edit" (click)="modal.dismiss('Cross click')" ngbTooltip="Undo">
                    <i class="bi bi-arrow-bar-right"></i></button>

            </div>
        </form>
    </div>
</ng-template>

<!-- PER CREAZIONE A COMPARSA -->