.container{
    padding: 1%;
	width: 100%; 
	background: #fff;
}


#btn{
    width: 100%;
}

#btn-insert{
    width: 20%;
    background-color: rgba(#012051,0.9);
    color: white;
	margin-bottom: 2%;
}

#btn-modal-edit{
    width: 100%;
    border: 1px rgba(#012051,0.9) solid;
    color: rgba(#012051,0.9);

	&:hover{
		color: white;
		background-color: rgba(#012051,0.9);
	}
}

#btn-delete{
    width: 100%;
}

i{
    font-size: larger;
}

.btn{
    font-family: Mulish;
    outline: none;
    line-height: 0%;
    font-size: 1.2vw;
}

p{
    padding: 3%;
}

.modal-body{
    font-family: Mulish;
}

.modal-header{
    font-family: Mulish;
    background-color: rgba(#012051,0.9);
    color: white;
    border: 1px solid rgba(0,0,0,.2);
}

#btn-modal-edit{
    border: 1px rgba(#012051,0.9) solid;
    color: rgba(#012051,0.9);

	&:hover{
		color: white;
		background-color: rgba(#012051,0.9);
	}
}

.close{
    color: white;
}


table{
    width: 100%;
    font-size: 1.2vw;
    font-family: Mulish;
}

thead{
    background-color: rgba(#012051,0.9);
    color: white;
}

.container-products{
    width: auto;
    color: black;
}
