.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  auto auto 1fr;
    padding: 1% 1% 0 1%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 2%;
    row-gap: 4%;
}

.header-page{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    width: auto;
    padding: 1%;
    background-color: rgb(88, 119, 255);
    border: 2px black solid;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    color: white;
}

.header-page span{
    font-size: 3vw;
    height: 100%;
    display: table;
    vertical-align: middle;
}

#home-link{
    text-align: right;
}

//ANCHOR SHARED
.header{
    margin: 0;
    width: auto;
    padding: 5%;
    background-color: rgb(88, 119, 255);
    border-bottom: 2px black solid;
    font-size: 2vw;
}

.btn{
    border: 1px black solid;
    text-align: center;
    transition: width 1s;
    width: 50%;
    padding: 3%;
    border-radius: 5px;
    font-size: 1.3vw;
}

.btn:hover{
    background-color: rgb(88, 119, 255);
    cursor: pointer;
    transition:1s 0s;
    color: white;
}

.btn:active{
    background-color: rgba( #A9AABC, 1);
    color: black;
    animation-duration: 2s;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

// ANCHOR productS TABLE
.container-products{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: auto;
    height: 70vh;
    color: rgba( #A9AABC, 1);
    border: 2px black solid;
    background-color: rgba(#012051,0.9);
    text-align: left;
    box-shadow: 10px 10px 5px rgba( #A9AABC, 1);
    overflow: auto;
}

.products-table{  
    width: 100%;
    font-size: 1.5vw;
    border-collapse: collapse;
    overflow: auto;
}

.products-table th{
    font-weight: bold;
    color: WHITE;
    padding: 2%;
    background-color: rgb(88, 119, 255);
    position: sticky;
    top: 0;
}

thead{
    border-bottom: 2px black solid;
}


#highlight-row-product td{
    padding: 1% 0 1% 2%;
}

#highlight-row-product{
    &:hover{
            background-color: rgba( #A9AABC, 0.5);
            color: white;
    }
}

.customers-table td{
    word-wrap: break-word;
}

.link {
    text-decoration: none;
    color: rgba( #A9AABC, 1);
    & :focus{
        outline: none;
    }
}

.link{
    text-decoration: none;
    color: white;
    & :focus{
        outline: none;
    }
}

#insert:hover{
    color: rgb(36, 167, 57);
    cursor: pointer;
    text-decoration: underline;
}

#edit:hover{
    color: rgb(88, 119, 255);
    cursor: pointer;
    text-decoration: underline;
}

#delete:hover{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.material-icons{
    font-size: 1.5vw;
}

//ANCHOR productS CREATE
.container-product-form{
    width: auto;
    border: 2px black solid;
    background-color: rgba(#012051,0.9);
    text-align: left;
    color: white;
    box-shadow: 10px 10px 5px rgba( #A9AABC, 1);
}

.product-form-table{
    width: 100%;
    margin: 0;
    padding: 3%;
}

.product-form-table input{
    padding:2%;
    width: 95%;
    font-size: 2vw;
    border: 0;

    border-bottom: 1px rgba(white,0.2) solid;
    color: white;   
    background-color: transparent;
    outline: 0;

    &::placeholder{
        color: rgba(white,0.2);
    }
}

label{
    padding: 2%;
    font-size: 2vw;
    color: rgba(white,0.2);
}

#select-unit{
    width: 100%;
    padding: 1.5%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2vw;
    outline: none;
}

option{ 
    color: red !important;
}

.product-form-table td{
    padding: 2%;
}

.btn{
    font-size: 2vw;
    width: 60%;
    padding: 1% 2% 1% 2%;
    transition: all 1.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgb(88, 119, 255);
        transition: all 1.5s;
        z-index: -1;
    }

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(white,0.2);
        z-index: -2; 
    }

    &:hover {
        color: #fff;
        cursor: pointer;
        &:before {
          width: 100%;
        }
    }
}