.box {
    width: 100%;
    padding: 1%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh auto;
    column-gap: 1vw;
    row-gap: 2vh;
    font-family: "Oxygen";
}

.search {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
}

.grid-btn {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-table {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}