span {
    font-family: "Oxygen";
}

input,
select,
textarea {
    font-family: "Oxygen";
    color: #012051;
    &::placeholder {
        color: #012051;
    }
}

label {
    font-family: "Oxygen";
    color: #012051;
}

.form-control:focus {
    color: #012051;
    background-color: #fff;
    border-color: #012051b9 !important;
    outline: 0;
}