
<div class="elementi" *ngFor="let fat of fatture; index as i; first as isFirst; last as isLast">
       
        
                id: {{fat.id}} <br>
                codice: {{ fat.codeInvoice }} <br>
                totalPrice: {{ fat.totalPrice }} <br>
                idCustomer: {{fat.idCustomer}} <br>
                productFields: {{fat.productFields}} <br>
                dateTime: {{fat.dateTime}} <br>
                sconto: {{fat.sconto}} <br>
                iva: {{fat.iva}} <br>
                ivaPrice: {{fat.ivaPrice}} <br>
                totalToPay: {{fat.totalToPay}} <br>
   
       
    
   <br><br><br><br><br><br>
    
</div>