<div class="container-invoice">
   <div class="header">YOUR INVOICE</div>
   <table class="invoice-table">
      <tr>
         <td>id</td>
         <td>{{fatture.id}}</td>
      </tr>
      <tr>
         <td>id customer</td>
         <td>{{fatture.idCustomer}}</td>
      </tr>
      <tr>
         <td>code</td>
         <td>{{ fatture.codeInvoice }}</td>
      </tr>
      <tr>
         <td>date</td>
         <td>{{fatture.dateTime}}</td>
      </tr>
      <tr>
         <td>product fields</td>
         <td>{{fatture.fields}} </td>
      </tr>
     

      <tr>
         <td>sale</td>
         <td>{{fatture.sconto}}%</td>
      </tr>
      <tr>
         <td>iva</td>
         <td>{{fatture.iva}}%</td>
      </tr>
      <tr>
         <td>total price - iva</td>
         <td>{{fatture.ivaPrice}}$</td>
      </tr>
      <tr id="total">
         <td>total pay</td>
         <td>{{fatture.totalToPay}}$</td>
      </tr>
   </table>
</div>