
<div class="elementi" >
       
        
                id: {{fatture.id}} <br>
                codice: {{ fatture.codeInvoice }} <br>
                totalPrice: {{ fatture.totalPrice }} <br>
                idCustomer: {{fatture.idCustomer}} <br>
                productFields: {{fatture.fields}} <br>
                dateTime: {{fatture.dateTime}} <br>
                sconto: {{fatture.sconto}} <br>
                iva: {{fatture.iva}} <br>
                ivaPrice: {{fatture.ivaPrice}} <br>
                totalToPay: {{fatture.totalToPay}} <br>
   
       
    
   <br><br><br><br><br><br>
    
</div>