.container-invoice{
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px black solid;
    background-color: #012051;
    text-align: left;
    color: white;
}

.invoice-table{
    width: 100%;
    margin: 0;
    padding: 3%;
    border-collapse: collapse;
    font-size: 2em;
}

.invoice-table td{
    width: 50%;
    padding: 1%;
}

.invoice-table tr:hover{
    background-color: rgba( #A9AABC, 0.5);
}

.invoice-table td:nth-child(odd){
    text-align: right;
}

#total{
    border-top: 2px black solid;
}

#total:hover{
    background-color: rgb(88, 119, 255);
}

.header{
    margin: 0;
    width: auto;
    padding: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(88, 119, 255);
    border-bottom: 2px black solid;
    font-size: 2.5em;
}