.main-container{
  display: grid;
  grid-template-columns: 10vw auto;
  grid-template-rows: 0.3fr auto;
  width: 100vw;
  font-family: Mulish;
}

.head{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1%;
  background-color: rgba(#012051,0.9);
  color: white;
  width: 100vw;
  font-size: 3vw;
}

.nav{
  border-right:1px #dee2e6 solid;
  margin-right: 0.5%;
  font-size: 1.3vw;
}

ul{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 1vw;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(#012051,0.9);
  color: white;
}
