<div class="main-container">

    <div class="head">
        <span class="align-text-bottom">LSGC : Los Pueblos</span>
    </div>

    <div class="nav">
        <ul>
            <li><a href="home">Home</a></li>
            <li class="animated bounce"><a href="customers">Customers</a></li>
            <li><a href="products">Products</a></li>
            <li><a href="tabbed/invoices">Invoices</a></li>
            <li><a href="tabbed/invoices">Tabbed</a></li>

        </ul>
    </div>

    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div>