

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #012051;
    border: 2px black solid;
    display: table;
    
  }

  li{
      float: left;
      padding: 1%;
      text-align: center;
      width: fit-content;
      width: 25%;
  }
  
  #right {
    float: right;
  }
  
  a li {
    line-height: 2em;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-size: 1.5em;
    color: white;
    text-align: center;
    height: 8vh;
    text-decoration: none;
  }

  .active{
    background-color: rgba( #010f25, 0.8);
  }
  
  li:hover:not(.active) {
    background-color: rgb(88, 119, 255);
  }

  .logo{
    display: block;
  }