.box-home {
    padding: 4% 1% 1% 1%;
    margin: 0;
}

.btn {
    color: #012051;
    background-color: transparent;
    font-size: 1.5vw;
}

h5 {
    color: #012051;
}

p {
    padding: 0;
}

#a {
    color: #012051;
    padding: 1%;
    background-color: transparent;
    font-size: 1.5vw;
    border: 1px #012051 solid;
    &:hover {
        background-color: #012051;
        color: white;
    }
}

a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}

.card {
    font-size: 1.5vw;
}

.card-header {
    background-color: #012051;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2%;
}