<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-sm" (click)="redirectToCust();">
                <div class="card text-white mb-3">
                    <div class="card-header">CLIENTI</div>
                    <div class="card-body">
                        <h5 class="card-title">stored {{collectionCust}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm" (click)="redirectToProd();">
                <div class="card text-white mb-3">
                    <div class="card-header">PRODOTTI</div>
                    <div class="card-body">
                        <h5 class="card-title">stored {{collectionProd}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" (click)="redirectToInvo();">
                <div class="card text-white mb-3">
                    <div class="card-header">FATTURE</div>
                    <div class="card-body">
                        <h5 class="card-title">stored {{collectionInvo}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm" (click)="redirectToMeas();">
                <div class="card text-white mb-3">
                    <div class="card-header">MISURE</div>
                    <div class="card-body">
                        <h5 class="card-title">stored {{collectionMeas}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>