.container{
    height: 100vh;
    width: 100%;
    padding: 1%;
    margin: 0;
    font-family: Mulish;
}

.card{
    font-size: 1.5vw;
}

.btn{
    background-color: rgba(#012051,0.9); 
    color: white;
}

.card-header{
    background-color: rgba(#012051,0.9); 
    color: white;
}
