@import "src/style/grid-and-table.scss";
@import "src/style/buttons.scss";
@import "src/style/pagination-table.scss";
@import "src/style/modal.scss";
@import "src/style/input.scss";
@import "src/style/icons.scss";
@import "src/style/other.scss";
.tabbed {
    width: auto;
    overflow-x: hidden;
    /* so we could easily hide the radio inputs */
    margin-top: 2%;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
}

.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.tab>label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background-color: #012051;
    ;
    color: white;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}

.tab-content {
    display: none;
    color: #777;
}

.tabbed [type="radio"]:nth-of-type(1):checked~.tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked~.tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked~.tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked~.tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked~.tabs .tab:nth-of-type(5) label {
    border-bottom-color: #fff;
    background: #fff;
    color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked~.tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked~.tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked~.tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked~.tab-content:nth-of-type(4) {
    display: block;
}

.alert-custom {
    background: #0120519f;
    border: 1px #012051 solid;
    color: white;
}