.page-content {
	padding: 1%;
	width: 100%; 
	background: #fff;
}

.tabbed {
	width: auto;
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin-top: 2%;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background-color: rgba(#012051,0.9);
	color: white;
	font-size: 1.2vh;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
}

#btn{
    width: 100%;

}

i{
    font-size: larger;
}

.btn{
    font-family: Mulish;
    outline: none;
    line-height: 0%;
    font-size: 1.2vw;
}

#btn-insert{
    width: 20%;
    background-color: rgba(#012051,0.9);
    color: white;
	margin-bottom: 2%;
}

#btn-edit{
    width: 100%;
    border: 1px rgba(#012051,0.9) solid;
    color: rgba(#012051,0.9);

	&:hover{
		color: white;
		background-color: rgba(#012051,0.9);
	}
}

#btn-modal-edit{
    border: 1px rgba(#012051,0.9) solid;
    color: rgba(#012051,0.9);

	&:hover{
		color: white;
		background-color: rgba(#012051,0.9);
	}
}

#td-btn{
	text-align: right;
}

#btn-delete{
	width: 30%;
}

p{
    padding: 3%;
}

.modal-dialog{
	width: 80%;
}

.modal-body{
    font-family: Mulish;
	font-size: 1.2vw;
}

.modal-header{
    font-family: Mulish;
    background-color: rgba(#012051,0.9);
    color: white;
    border: 1px solid rgba(0,0,0,.2);
}

.close{
    color: white;
}

table{
    width: 100%;
    font-size: 1.2vw;
    font-family: Mulish;
}

thead{
    background-color: rgba(#012051,0.9);
    color: white;
}

.tab-content {
	display: none;
	color: #777;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	border-bottom-color: #fff;
	
	background: #fff;
	color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
}