<div class="box">
    <div class="grid-btn">
        <button class="btn btn-sm" id="btn-insert" (click)="openXL(content)"><i class="bi bi-plus"></i>
        </button>
    </div>

    <div class="search">
        <form [formGroup]="cercaForm" (ngSubmit)="searchTerm()">
            <div class="input-group mb-3 input-search">

                <input type="text" class="form-control" formControlName="termine" placeholder="parola da cercare" aria-label="Recipient's username" aria-describedby="button-addon1" id="bottom-search">
                <div class="input-group-append">
                    <button type="submit" class="btn" id="btn-edit" [disabled]="cercaForm.invalid"><i
                            class="bi bi-search" id="searchIcon"></i></button>
                    <button type="reset" class="btn btn-outline-danger" [disabled]="cercaForm.invalid" (click)="resetSearchBar()"><i class="bi bi-x-square-fill" id="searchIcon"></i></button>
                </div>
            </div>

        </form>
    </div>

    <!-- ANCHOR first table -->
    <div class="grid-table">
        <table class="table table-hover">
            <caption>Tabella fatture</caption>
            <thead>
                <th scope="col">codice cliente</th>
                <th scope="col">numero fattura</th>
                <!-- numero fattura -->
                <th scope="col">data</th>
                <th scope="col">cond. pagamento</th>
                <th scope="col">tipo doc.</th>
                <th scope="col">sconto</th>
                <th id="th-btn">&nbsp;</th>
                <th id="th-btn">&nbsp;</th>
            </thead>

            <tbody *ngFor="let inv of invoices | async | slice: (page-1) * pageSize : page * pageSize; let i= index" id="highlight-row-invoice">

                <div *ngIf="term==='null'; then elseBlock"></div>
                <ng-template #elseBlock>
                    <tr>
                        <th scope="col">{{inv.idCustomer}}</th>
                        <td> {{inv.codeInvoice}}</td>
                        <td>{{inv.dateTime}}</td>
                        <td>{{inv.condizionePagamento}}</td>
                        <td>{{inv.tipoDocumento}} </td>
                        <td>{{inv.sconto}}%</td>
                        <td><button class="btn btn-sm" id="btn-edit" (click)="openXL(edit,inv.id,inv.codeInvoice)"><i
                                    class="bi bi-wrench"></i></button>
                        </td>
                        <td><button class="btn btn-sm" id="btn-edit" (click)="openXL(tabbed,inv.id,inv.codeInvoice)"><i
                                    class="bi bi-eye-fill"></i></button>
                        </td>
                    </tr>
                </ng-template>

                <div *ngIf="(inv.idCustomer.toLowerCase().includes(term)||inv.codeInvoice.toLowerCase().includes(term)||inv.condizionePagamento.toLowerCase().includes(term)||inv.dateTime.toLowerCase().includes(term)||inv.fields.toLowerCase().includes(term)||inv.imponibile.toLowerCase().includes(term)||inv.importoSconto.toLowerCase().includes(term)||inv.iva.toLowerCase().includes(term)||inv.ivaPrice.toLowerCase().includes(term)||inv.quantita.toLowerCase().includes(term)||inv.sconto.toLowerCase().includes(term)||inv.tipoDocumento.toLowerCase().includes(term)||inv.totaleMerci.toLowerCase().includes(term)||inv.totaleServizi.toLowerCase().includes(term)); then thenBlock">
                </div>
                <ng-template #thenBlock>
                    <tr>
                        <th scope="col">{{inv.idCustomer}}</th>
                        <td> {{inv.codeInvoice}}</td>
                        <td>{{inv.dateTime}}</td>
                        <td>{{inv.condizionePagamento}}</td>
                        <td>{{inv.tipoDocumento}} </td>
                        <td>{{inv.sconto}}%</td>
                        <td><button class="btn btn-sm" id="btn-edit" (click)="openXL(edit,inv.id,inv.codeInvoice)"><i
                                    class="bi bi-wrench"></i></button>
                        </td>
                        <td><button class="btn btn-sm" id="btn-edit" (click)="openXL(tabbed,inv.id,inv.codeInvoice)"><i
                                    class="bi bi-eye-fill"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>


        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" class="pagination">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 elementi per pagina</option>
                <option [ngValue]="4">4 elementi per pagina</option>
                <option [ngValue]="6">6 elementi per pagina</option>
                <option [ngValue]="10">10 elementi per pagina</option>
                <option [ngValue]="1000">1000 elementi per pagina</option>
            </select>
        </div>
    </div>

</div>

<!-- ANCHOR view modal -->
<ng-template #tabbed let-modal>
    <div class="modal-xl modal-header">
        <h4 class="modal-title" id="modal-basic-title">DETTAGLIO FATTURA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="tabbed">
            <input type="radio" id="tab1" name="css-tabs" checked>
            <input type="radio" id="tab2" name="css-tabs">
            <input type="radio" id="tab3" name="css-tabs">

            <ul class="tabs">
                <li class="tab"><label for="tab1">TESTA FATTURA</label></li>
                <li class="tab"><label for="tab2">CORPO FATTURA</label></li>
                <li class="tab"><label for="tab3">CODA FATTURA</label></li>
            </ul>

            <div class="tab-content">
                <div *ngFor="let inv of invoices | async">
                    <div *ngIf="inv.id==idN">

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">numero fattura</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.codeInvoice}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">codice cliente</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.idCustomer}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">date</span>
                            </div>
                            <input type="text" class="form-control" placeholder="{{inv.dateTime}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">tipo doc.</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.tipoDocumento}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">sconto</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.sconto}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">cond. pagamento</span>
                            </div>
                            <input type="text" class="form-control" placeholder="{{inv.condizionePagamento}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content">

                <div *ngFor="let inv of invoices | async">
                    <div *ngIf="inv.id==idN">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">prodotti</span>
                            </div>
                            <input type="text" class="form-control" placeholder="{{inv.fields}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">iva</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.iva}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">prezzo + iva</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.ivaPrice}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">quantita'</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.quantita}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">importo sconto</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.importoSconto}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">imponibile</span>
                            </div>
                            <input type="text" class="form-control" placeholder="{{inv.imponibile}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                        </div>

                    </div>

                </div>

            </div>
            <div class="tab-content">
                <div *ngFor="let inv of invoices | async">
                    <div *ngIf="inv.id==idN">

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">tot merce</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.totaleMerci}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">tot servizi</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="{{inv.totaleServizi}}" autocomplete="off" aria-describedby="basic-addon1" readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn" id="btn-modal-edit" (click)="modal.dismiss('Cross click')" ngbTooltip="Exit">
                    <i class="bi bi-arrow-bar-right"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>


<!-- ANCHOR edit form -->
<ng-template #edit let-modalEdit>
    <div class="modal-xl modal-header">
        <h4 class="modal-title" id="modal-basic-title">AGGIORNAMENTO FATTURA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalEdit.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="invoiceUpdateForm" (ngSubmit)="update()">
            <div *ngFor="let inv of invoices | async">
                <div *ngIf="inv.id==idN">

                    <div class="tabbed">
                        <input type="radio" id="tab1" name="css-tabs" checked>
                        <input type="radio" id="tab2" name="css-tabs">
                        <input type="radio" id="tab3" name="css-tabs">

                        <ul class="tabs">
                            <li class="tab"><label for="tab1">TESTA FATTURA</label></li>
                            <li class="tab"><label for="tab2">CORPO FATTURA</label></li>
                            <li class="tab"><label for="tab3">CODA FATTURA</label></li>
                        </ul>


                        <div class="tab-content">

                            <div class="row">
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <input type="text" class="form-control" readonly
                                            value="{{inv.codeInvoice}}">
                                        <label for="description">codice fattura</label>
                                    </span>

                                </div>
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <select formControlName="custId" class="form-control">
                                
                                            <option *ngFor="let element of elements | async " value="{{element.id}}">
                                                {{element.name}} - {{element.email}}
                                            </option>

                                        </select>
                                        <label for="description">codice cliente</label>
                                    </span>
                                </div>
                            </div>

                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" formControlName="sale" placeholder="{{inv.sconto}}" autocomplete="off">
                                <label for="description">Sconto - {{inv.sconto}}</label>
                            </span>

                            <div class="row ">
                                <div class="col ">
                                    <span class="form-group has-float-label">
                                        <select formControlName="docType" class="form-control">
                                            <option selected>seleziona il nuovo metodo di pagamento da usare</option>
                                            <option *ngFor="let doc of documents | async " value="{{doc.tipoDocumento}}">
                                                {{doc.tipoDocumento}}
                                            </option>
                                        </select>
                                        <label for="description">Tipo documento {{inv.tipoDocumento}}</label>
                                    </span>
                                </div>
                                <div class="col ">
                                    <span class="form-group has-float-label">
                                        <select formControlName="payCondition" class="form-control">
                                            <option selected>seleziona la nuova condizione di pagamento da usare</option>
                                            <option *ngFor="let cond of conditions | async " value="{{cond.condizione}}">
                                                {{cond.condizione}}
                                            </option>
                                        </select>
                                        <label for="description">Cond. pagamento {{inv.condizionePagamento}}</label>
                                    </span>
                                </div>
                            </div>


                        </div>

                        <div class="tab-content">

                            <form [formGroup]="invoiceInsertProd">
                                <div class="row">
                                    <div class="col">
                                        <span class="form-group has-float-label">
                                            <select #idArticle formControlName="idItem" class="form-control">
                                                <option selected>seleziona il prodotto da inserire</option>
                                                <option *ngFor="let prod of products | async " value="{{prod.id}}">
                                                    {{prod.description}} - {{prod.price}}$ con {{prod.scontoProd}}% di sconto
                                                </option>
                                            </select>
                                            <label for="description">Prodotto</label>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="input-group has-float-label">
                                            <input type="number" min="1" #itemQuantity formControlName="itemQuantity"
                                                class="form-control" placeholder="inserisci la quantita' desiderata"
                                                name="itemQuantity" id="itemQuantity" autocomplete="off"
                                                aria-describedby="basic-addon1 ">
                                            <label for="description">Quantita'</label>
                                            <div class="input-group-append">
                                                <button class="btn" id="btn-edit" [disabled]="invoiceInsertProd.invalid"
                                                    (click)="addProdNQnt(idArticle.value, itemQuantity.value)"><i
                                                        class="bi bi-plus-square-fill"></i></button>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="input-group has-float-label">
                                            <input type="button" class="form-control" readonly value="{{prodCount}}">
                                            <label for="description">Totale Prodotti aggiunti</label>
                                        </span>
                                    </div>
                                </div>

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Qta</th>
                                            <th scope="col" id="th-btn">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let prod of phis | async">
                                            <div *ngIf="idN == prod.id">
                                                <td>{{prod.idProduct}}</td>
                                                <td>{{prod.qtaProduct}}</td>
                                                <td>
                                                    <button class="btn btn-outline-danger" (click)="removeFromCart(prod.id, prod.qta)">
                                                        <i class="bi bi-cloud-minus"></i>
                                                    </button>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>


                            </form>

                        </div>

                        <div class="tab-content">
                            <div class="row">
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <select formControlName="iva" class="form-control">
                                            <option selected>seleziona importo iva da inserire</option>
                                            <option *ngFor="let iva of ivaList | async " value="{{iva.id}}">
                                                {{iva.percentualeIva}} - {{iva.info}}
                                            </option>
                                        </select>
                                        <label for="description">iva</label>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <input type="text" class="form-control" readonly value="{{inv.ivaPrice}}">
                                        <label for="description">prezzo + iva</label>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <input type="text" class="form-control" readonly value="{{inv.importoSconto}}">
                                        <label for="description">importo sconto</label>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <input type="text" class="form-control" readonly value="{{inv.imponibile}}">
                                        <label for="description">imponibile</label>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <input type="text" class="form-control" readonly value="{{inv.totaleMerci}}">
                                        <label for="description">totale merce</label>
                                    </span>
                                </div>
                                <div class="col">
                                    <span class="form-group has-float-label">
                                        <input type="text" class="form-control" readonly value="{{inv.totaleServizi}}">
                                        <label for="description">totale servizi</label>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-danger" (click)="modalEdit.dismiss( 'Cross click')" ngbTooltip="Exit ">
            <i class="bi bi-arrow-bar-right "></i>
        </button>
        <button type="submit " class="btn " id="btn-modal-edit" [disabled]="invoiceInsertForm.invalid" (click)="modalEdit.close( 'Save click') " ngbTooltip="Insert ">
            <i class="bi bi-save "></i>
        </button>
    </div>
</ng-template>

<ng-template #deleteInvoice let-modalDelete>
    <form (ngSubmit)="deleteInv()">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">ELIMINAZIONE FATTURA</h4>
            <button type="button" class="close" aria-label="Close" (click)="modalDelete.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            are you sure
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-danger" (click)="modalDelete.close('Delete click')" ngbTooltip="Delete">
                <i class="bi bi-trash-fill"></i>
            </button>
            <button type="button" class="btn" id="btn-modal-edit" (click)="modalDelete.close('Exit click')" (click)="openXL(edit,idN)" ngbTooltip="Undo">
                <i class="bi bi-arrow-bar-right"></i>
            </button>
        </div>
    </form>
</ng-template>

<!-- ANCHOR insert form -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-basic-title ">CREAZIONE FATTURA</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="invoiceInsertForm" (ngSubmit)="create()">
            <div class="tabbed">
                <input type="radio" id="tab1" name="css-tabs" checked>
                <input type="radio" id="tab2" name="css-tabs">
                <input type="radio" id="tab3" name="css-tabs">

                <ul class="tabs">
                    <li class="tab"><label for="tab1">TESTA FATTURA</label></li>
                    <li class="tab"><label for="tab2">CORPO FATTURA</label></li>
                    <li class="tab"><label for="tab3">CODA FATTURA</label></li>
                </ul>

                <div class="tab-content">

                    <div class="row">
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" readonly
                                    value="il codice verrà generato automaticamente">
                                <label for="description">codice fattura</label>
                            </span>

                        </div>
                        <div class="col">
                            <span class="form-group has-float-label">
                                <select formControlName="custId" class="form-control">
                                    <option selected="selected">seleziona codice cliente</option>
                                    <option *ngFor="let element of elements | async " value="{{element.id}}">
                                        {{element.name}} - {{element.email}}
                                    </option>
                                </select>
                                <label for="description">codice cliente</label>
                            </span>
                        </div>
                    </div>

                    <span class="form-group has-float-label">
                        <input type="text " class="form-control" formControlName="sale" placeholder="inserisci sconto "
                            id="sale " autocomplete="off" aria-describedby="basic-addon1 ">
                        <label for="description">Sconto</label>
                    </span>

                    <div class="row ">
                        <div class="col ">
                            <span class="form-group has-float-label">
                                <select formControlName="docType" class="form-control">
                                    <option selected>seleziona la condizione di pagamento da usare</option>
                                    <option *ngFor="let doc of documents | async " value="{{doc.tipoDocumento}}">
                                        {{doc.tipoDocumento}}
                                    </option>
                                </select>
                                <label for="description">Tipo doc.</label>
                            </span>
                        </div>
                        <div class="col ">
                            <span class="form-group has-float-label">
                                <select formControlName="payCondition" class="form-control">
                                    <option selected>seleziona la condizione di pagamento da usare</option>
                                    <option *ngFor="let cond of conditions | async " value="{{cond.condizione}}">
                                        {{cond.condizione}}
                                    </option>
                                </select>
                                <label for="description">Cond. pagamento</label>
                            </span>
                        </div>
                    </div>


                </div>

                <div class="tab-content">

                    <form [formGroup]="invoiceInsertProd">
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <select #idArticle formControlName="idItem" class="form-control">
                                        <option selected>seleziona il prodotto da inserire</option>
                                        <option *ngFor="let prod of products | async " value="{{prod.id}}">
                                            {{prod.description}} - {{prod.price}}$ con {{prod.scontoProd}}% di sconto
                                        </option>
                                    </select>
                                    <label for="description">Prodotto</label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="input-group has-float-label">
                                    <input type="number" min="1" #itemQuantity formControlName="itemQuantity"
                                        class="form-control" placeholder="inserisci la quantita' desiderata"
                                        name="itemQuantity" id="itemQuantity" autocomplete="off"
                                        aria-describedby="basic-addon1 ">
                                    <label for="description">Quantita'</label>
                                    <div class="input-group-append">
                                        <button class="btn" id="btn-edit" [disabled]="invoiceInsertProd.invalid"
                                            (click)="addProdNQnt(idArticle.value, itemQuantity.value)"><i
                                                class="bi bi-plus-square-fill"></i></button>
                                    </div>
                                </span>
                            </div>
                            <div class="col">
                                <span class="input-group has-float-label">
                                    <input type="button" class="form-control" readonly value="{{prodCount}}">
                                    <label for="description">Totale Prodotti aggiunti</label>
                                </span>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Qta</th>
                                    <th scope="col" id="th-btn">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of productsArray">
                                    <td>{{prod.id}}</td>
                                    <td>{{prod.qta}}</td>
                                    <td>
                                        <button class="btn btn-outline-danger" (click)="removeFromCart(prod.id, prod.qta)">
                                            <i class="bi bi-cloud-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </form>

                </div>

                <div class="tab-content">
                    <div class="row">
                        <div class="col">
                            <span class="form-group has-float-label">
                                <select formControlName="iva" class="form-control">
                                    <option selected>seleziona importo iva da inserire</option>
                                    <option *ngFor="let iva of ivaList | async " value="{{iva.id}}">
                                        {{iva.percentualeIva}} - {{iva.info}}
                                    </option>
                                </select>
                                <label for="description">iva</label>
                            </span>
                        </div>
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" readonly value="prezzo + iva calcoli front">
                                <label for="description">prezzo + iva</label>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" readonly value="importo sconto front">
                                <label for="description">importo sconto</label>
                            </span>
                        </div>
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" readonly value="imponibile calcoli front">
                                <label for="description">imponibile</label>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" readonly value="importo sconto front">
                                <label for="description">totale merce</label>
                            </span>
                        </div>
                        <div class="col">
                            <span class="form-group has-float-label">
                                <input type="text" class="form-control" readonly value="imponibile calcoli front">
                                <label for="description">totale servizi</label>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer ">
                    <button type="button " class="btn btn-outline-danger" (click)="modal.dismiss( 'Cross click')" ngbTooltip="Exit ">
                        <i class="bi bi-arrow-bar-right "></i>
                    </button>
                    <button type="submit " class="btn " id="btn-modal-edit" [disabled]="invoiceInsertForm.invalid" (click)="modal.close( 'Save click') " ngbTooltip="Insert ">
                        <i class="bi bi-save "></i>
                    </button>
                </div>

            </div>
        </form>
    </div>
</ng-template>
<!-- 
tieni louis questo è il modo per recuperare i prodotti, ora fai la tabella, FROCIO -->
<div>
    <select>
        <option selected>louis ciuccia cazzi</option>
        <option *ngFor="let prod of prodsArray" >
            {{prod.result.description}} 
        </option>
    </select>
</div>